.about-sec {
  overflow: hidden;
  background-color: #ee6a6a;
}

.about-header {
  padding: 3%;
}
h1.about-header {
  font-weight: 500;
  color: #fff;
  letter-spacing: 5px;
}
h1 strong .about-header {
  font-weight: 700;
  color: #fff;
}

p.content {
  color: #fff;
}

.profile {
  padding-left: 0px !important;
  background-image: url("../../img/largeImg/vivekbg.jpg");
  background-position: top center;
}

.big-row {
  height: 100%;
}

.inner-content {
  padding-bottom: 3%;
}

@media only screen and (min-width: 1201px) {
  .show-mobile {
    opacity: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .profile {
    padding-top: 20px;
    flex: 0 0 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    background-image: none;
  }

  .profile-content {
    flex: 0 0 100% !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}
