.full-screen {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100% !important;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 100;
  overflow: scroll;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

h1 strong {
  font-weight: 800;
}

.fit-content {
  text-align: center;
}

h3.ocgHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: center;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #f2696b !important;
  text-decoration: none !important;
  transition: ease all 1s;
}

a:hover,
a:focus,
a:active {
  color: #f2696b;
  text-decoration: none !important;
}
