@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,600");

.header-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url(../../img/header-main.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff !important;
  height: 90vh;
}

.no-pad {
  padding: 0 !important;
  overflow: hidden;
}

h1.header-text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
}

h3.header-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #fff;
}

h4.header-text {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  .header-section {
    height: 70vh;
  }
}

@media only screen and (max-width: 1000px) {
  .header-section {
    height: 60vh;
  }
  .header-container {
    width: 100% !important;
    max-width: 75% !important;
  }
}

@media only screen and (max-width: 768px) {
  .header-section {
    background-image: url(../../img/mobile-header.png);
    background-size: cover;
    height: 80vh;
  }
  h1.header-text {
    font-size: 3rem;
    text-align: left !important;
  }
  h3.header-text {
    text-align: left !important;
    letter-spacing: 5px;
  }
  h4.header-text {
    text-align: left !important;
  }
}

@media only screen and (max-width: 668px) {
  .header-section {
    height: 80vh;
  }
}
